name: 'CI'
on: [push, pull_request]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24.11.1
      - name: Install Pnpm
        run: corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.11.1
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm i
      - name: Run unit tests
        run: pnpm run test

  test-types:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Pnpm
        run: corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.11.1
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm i

      - name: Run type declaration tests
        run: pnpm run test:types
